.board_card {
  display: flex;
  margin: 80px 20px;
  justify-content: center;
  flex-direction: column;
}

.board_pic {
  display: flex;
  justify-content: center;
}

.board_pic img {
  width: 80px;
}

.board_info {
  color: #3B2358;
  text-align: left;
  padding: 16px 0px;

}

.board_description{
  color: black;
  text-align: justify;
  padding: 16px 8px;
}

.board_buy{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.board_buy h1 {
  text-align: right;
}

.board_buy h3 {
  font-weight: bolder;
  padding: 8px 12px;
}

.board_buy select {
  width: 100px;
  margin: 0px 0px 16px 0px;
  padding: 8px 12px;
  background: transparent;
  border-radius: 10px;
  border: #4F359B solid 1px;
  text-align: -webkit-center;
}

.add_basket {
  width: -webkit-fill-available;
}
