.board_card {
  display: flex;
  margin: 80px 20px;
  align-items: center;
  flex-direction: column;
}

.board_text {
  display: flex;
  flex-direction: column;
}

.board_pic img {
  width: 100px;
}

.board_info {
  color: #3B2358;
  text-align: center;
  padding: 16px 8px;
}

.board_description{
  color: black;
  text-align: justify;
  padding: 16px 8px;
}
