.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 0px 25px ;
  height: 45px;
  /*background-color: #F8D862;*/
  color: #3B2358;
  width: 100%;
  position: fixed;
  top: 0;
  right: -20;
}

.main_title {
  font-size: 12px;
  display: flex;
  align-items: center;
}

.menu {
  position: absolute;
  top: 50px;
  right: 5px;
  z-index: 3;
  text-align: right;
  background-color: #3B2358;
  opacity: 0.7;
  padding: 16px;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
}

.menu a {
  list-style-type: none;
  padding: 8px;
  font-family: 'IBM Plex Mono', monospace;
  color: #FFFF;
}
